
/* GLOBAL RESET */
*, *:after, *:before { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; }

/* Define Global Colors  */
/* 

color-primary    BLUE    rgba(0, 51, 102, 1)     #003366
color-primary-dark
color-primary-light

color-accent
color-accent-dark
color-accent-light

color-bg-body
color-bg-main
color-bg-header
color-bg-footer

color-text-body
color-text-headings

*/

/* Set Global COlors */
body {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,.6);
}
a { color: rgba(0,0,0,1); }

/* Set Global Typography */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}
p { max-width: 35em; }
a { text-decoration: none; }
h1, h2, h3 { font-weight: normal;}

/* Limit the # of Characters per Line */
p {
    max-width: 33em;
    max-width: 65ch;
}

/* enable CSS Scroll to Anchors */
html {
    scroll-behavior: smooth;
}

/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

/* site wrapper */
.site-wrapper {
    position: relative;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    /* overflow-x: hidden; */
}

.site-wrapper::before {
    content: "";
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    animation-name: wipetrans;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards;
    animation-duration: .4s;    
    transform-origin: center top;
}

@keyframes wipetrans {
    0% { transform: scaleY(1); }
    100% { transform: scaleY(0); }
}


.site-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
    z-index: 200;
}

.site-header a {
    text-decoration: none;
}


.site-logo {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
}

.site-logo svg {
    width: 100%;
    stroke: rgba(0,0,0,1);
    stroke-width: 3;
    fill: rgba(0,0,0,0);
}

.site-logo img {
    display: block;
}

.site-id h1{
    font-size: 20px;
    line-height: 1;
    margin: 10px 10px 10px 40px;
}

.site-id a {
    display: block;
    padding: 5px;
}

/* .site-nav ul {
    display: flex;
    list-style: none;
    line-height: 1;
    margin: 0;
}

.site-nav li {
    padding: 0;
}

.site-nav a {
    display: block;
    padding: .625em;
} */

/* SITE NAV */
.site-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
  }
.site-nav ul {
    position: fixed;
    top: -100%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    line-height: 1;
}
.site-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0, 1, 1, 1) 0.6s;
}
.site-nav li:nth-child(1) {
    transition-delay: .2s;
}
.site-nav li:nth-child(2) {
    transition-delay: .3s;
}

.site-nav a {
    display: inline-block;
    padding: .25em 1em;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}
.site-nav a:hover {
    color: white;
}
.site-nav .menu-button {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    font-size: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
}
.site-nav .menu-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    background: rgba(0, 51, 102, 0);
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}
.site-nav .menu-button::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: rgba(0,0,0,1);
    /* mix-blend-mode: difference; */
    /* content: "\227C"; OK */
    content: "\2161";
    text-transform: none;
    transform: rotate(90deg);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.5, 1);
    transform-origin: center;
}
.site-nav .menu-button:hover::before {
    background: rgba(0,0,0,1);
}
.site-nav .menu-button:hover::after {
    color: white;
    /* transform: rotate(225deg); */
    /* transform: scale(.7); */
    /* font-size: 20px; */
    /* padding: 10px; */
}
.site-nav .menu-button::selection {
    background: rgba(255, 255, 255, 0);
}
.site-nav[data-navstate="open"] .menu-button::before {
    position: fixed;
    transform: scale(50) translate(-25%);
    min-height: 5vw;
    min-width: 5vw;
    background: rgba(0,0,0,1);
    transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.site-nav[data-navstate="open"] .menu-button::after {
    position: fixed;
    top: 5px;
    right: 5px;
    content: "\2715";
    /* content: "\292C"; */
    transform: rotate(0deg);
    color: white;
}
.site-nav[data-navstate="open"] ul {
    top: 50%;
}
.site-nav[data-navstate="open"] li {
    transform: translateY(0);
    opacity: 1;
}

.site-header[data-headerstate="dark"] a {
    color: rgba(255,255,255,.8);
}

.site-header[data-headerstate="dark"] .site-nav .menu-button::after {
    color: rgba(255,255,255,.8);
}

.site-header[data-headerstate="dark"] .site-logo svg {
    stroke: rgba(255,255,255,1);
}


.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5em;
    /* background-color: rgba(0,0,0,.5); */
    background-image: linear-gradient(-22deg, #000, rgba(0, 0, 0,.5));
    color: rgba(255,255,255,.6);
    min-height: 100vh;
    /* min-height: calc(100vh - 50px); */
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
}

.site-footer a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}


.bottom-nav ul,
.social-nav ul {
    display: flex;
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.bottom-nav li,
.social-nav li {
    padding: 0;
}
.bottom-nav a,
.social-nav a {
    display: block;
    padding: .625em;
}

.page-nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    /* font-size: 1em; */
}

/* .page-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: .8em;    
} */


.page-nav ul {
    margin: 25vh 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 50vh;
    left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.page-nav li {
    position: relative;
    font-size: .9em;    
    line-height: 1;
}

.page-nav a {
    display: inline-block;
    padding: 3px 16px;
    margin: 3px 0;
    color: rgba(0,0,0,.5);
  /* mix-blend-mode: difference; */
}

.page-nav a::before {
    content: "";
    display: inline-block;
    width: 8px;
    position: relative;
    top: -3px;
    left: 6px;
    margin-right: 16px; 
    border-top: 1px solid rgba(0,0,0,.8);
    text-align: center;
    transition: all .3s ease-out;
    transform-origin: right center;
}

.page-nav a:hover {
    color: rgba(0,0,0,1);
    border-color: rgba(0,0,0,1);
}

.page-nav li[data-pagenavstate="active"] > a  {
    color: rgba(0,0,0,.8);
    font-weight: bold;
}

.page-nav li[data-pagenavstate="active"] > a::before  {
    /* width: 16px;
    border-width: 2px; */

    transform: scale(2.5);
}

.page-nav a::after {
    content: "\02022";
    position: absolute;
    left: calc(100vw - 36px);
    width: 16px;
    text-align: center;
    transition: all .3s ease-out;
}

.page-nav a:hover::after {
    /* transform: scale(3); */
    /* background-color: red; */

}

.page-nav li[data-pagenavstate="active"] > a::after  {
    transform: scale(2);
}

/* .page-nav span {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .page-nav a:hover span {
    position: static;
    top: auto;
    left: auto;
  } */

@media (max-width: 1300px) {

    .page-nav span {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

    /* .page-nav a:hover span {
        position: absolute;
        top: -9999px;
        left: -9999px;
    } */

  }

.site-main {
    position: relative;
    min-height: 100vh;
    background-color: rgba(255,255,255,1);
    z-index: 1;
    box-shadow: 0 0 6em 0 rgba(0, 0, 0, .5);
}

.layout-centered {
    display: grid;
    place-items: center;
}

section {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, .05);
    padding: 6em 0;
}

section:nth-child(even) {
    background-color: rgba(0, 0, 0, .1);
}

.container {
    margin: 0 60px;
    max-width: 1000px;
}

.hero {
    width: 100%;
    /* background-color: rgba(0,0,0,.5);
     */
    background-size: 400%;
	animation: animatedGradient 10s ease infinite;
    background-color: #E94057; 
    background-image: linear-gradient(-45deg, #F27121, #E94057, #8A2387);
    color: rgba(255,255,255,.8);
}

#page-about .hero {
    background-color: #0f0c29; 
	background-image: linear-gradient(-45deg, #0082c8, #0e3b75, #24243e);
}

@keyframes animatedGradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}



/* SIMPLE GRID SYSTEM */
@media (min-width: 767px) {
.row {
    display: flex;
    align-items: center;
}

.row.swapped {
    flex-direction: row-reverse;
}

.one-half {
    width: 50%;
    padding: 2%;
}
}
