/* NOTES */

/* Z-INXDEXES:
    .site-nav ul = 100
    .container = 10
*/

/* IMPORTS */
@import "partials/_globals.css";

.site-wrapper {
    position: relative;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}



.site-header {
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}

.site-header a {
    text-decoration: none;
}


.site-logo {
    position: fixed;
    top: .5em;
}

.site-logo svg {
    width: 100%;
}

.site-logo img {
    display: block;
}

.site-id h1{
    font-size: 1.5em;
    line-height: 1;
    margin: .5em 0 0 1.75em;
}

.site-id a {
    display: block;
    padding: .25em 0;
}

/* .site-nav ul {
    display: flex;
    list-style: none;
    line-height: 1;
    margin: 0;
}

.site-nav li {
    padding: 0;
}

.site-nav a {
    display: block;
    padding: .625em;
} */

/* SITE NAV */
.site-nav {
    position: fixed;
    top: 0;
    right: 0;
  }
.site-nav ul {
    position: fixed;
    top: -100%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    line-height: 1;
}
.site-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0, 1, 1, 1) 0.6s;
}
.site-nav li:nth-child(1) {
    transition-delay: .2s;
}
.site-nav li:nth-child(2) {
    transition-delay: .3s;
}
/* .site-nav li:nth-child(3) {
transition-delay: .4s;
}
.site-nav li:nth-child(4) {
transition-delay: .5s;
}
.site-nav li:nth-child(5) {
transition-delay: .6s;
} */
.site-nav a {
    display: inline-block;
    padding: .25em 1em;
    margin: 0 0.5em;
    color: rgba(255, 255, 255, 0.5);
}
.site-nav a:hover {
    color: white;
}
.site-nav .menu-button {
    font-size: 1em;
    color: rgba(0, 0, 0, 0);
    line-height: 1;
    cursor: pointer;
}
.site-nav .menu-button::before {
    position: absolute;
    content: "";
    top: .2875em;
    right: .1875em;
    width: 3.1875em;
    height: 3.1875em;
    border-radius: 100%;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}
.site-nav .menu-button::after {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    content: "\2630";
    padding: .75em;
    font-size: 1.5em;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.5, 1);
}
.site-nav .menu-button:hover::before {
    background: black;
}
.site-nav .menu-button:hover::after {
    color: white;
}
.site-nav .menu-button::selection {
    background: rgba(255, 255, 255, 0);
}
.site-nav[data-navstate="open"] .menu-button::before {
    position: fixed;
    transform: scale(50) translate(-25%);
    min-height: 5vw;
    min-width: 5vw;
    background: black;
    transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.site-nav[data-navstate="open"] .menu-button::after {
    position: fixed;
    content: "\2715";
    transform: rotate(-90deg);
    color: white;
}
.site-nav[data-navstate="open"] ul {
    top: 50%;
}
.site-nav[data-navstate="open"] li {
    transform: translateY(0);
    opacity: 1;
}


.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: .5em;
}

.site-footer a {
    text-decoration: none;
}


.bottom-nav ul,
.social-nav ul {
    display: flex;
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.bottom-nav li,
.social-nav li {
    padding: 0;
}
.bottom-nav a,
.social-nav a {
    display: block;
    padding: .625em;
}

.page-nav {
    position: fixed;
    top: 45%;
    left: 0;
}

.page-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: .8em;    
}

.page-nav li {
    position: relative;
}

.page-nav a {
    display: inline-block;
    padding: .5em 16px;
    margin: .5em 0;
    color: rgba(0,0,0,.5);
    font-weight: bold;
}

.page-nav a::before {
    content: "";
    display: inline-block;
    width: 8px;
    position: relative;
    top: -.4em;
    left: 6px;
    margin-right: 16px; 
    border-top: 1px solid #000;
    text-align: center;
    transition: all .3s ease-out;
    transform-origin: right center;
}

.page-nav a:hover {
    color: rgba(0,0,0,1);
}

.page-nav li[data-pagenavstate="active"] > a  {
    color: rgba(0,0,0,.8);
}

.page-nav li[data-pagenavstate="active"] > a::before  {
    /* width: 16px;
    border-width: 2px; */

    transform: scale(2.5);
}

.page-nav a::after {
    content: "\02022";
    position: absolute;
    left: calc(100vw - 2.75em);
    width: 1em;
    text-align: center;
    transition: all .3s ease-out;
}

.page-nav a:hover::after {
    transform: scale(3);
}

.page-nav li[data-pagenavstate="active"] > a::after  {
    transform: scale(2);
}

.page-nav span {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .page-nav a:hover span {
    position: static;
    top: auto;
    left: auto;
  }

@media (max-width: 999px) {

    .page-nav a:hover span {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

  }

.site-main {
}

.layout-centered {
    display: grid;
    place-items: center;
}

section {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    margin: 0 3em;
    max-width: 1000px;
}