/* GLOBAL RESET */
*, *:after, *:before { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; }

/* GLOBAL COLORS  */
/* 

color-primary           BLUE    rgba(0, 51, 102, 1)     #003366
color-primary-dark
color-primary-light

color-accent
color-accent-dark
color-accent-light

color-bg-body
color-bg-main
color-bg-header
color-bg-footer

color-text-body           DARK GREY    rgba(0, 0, 0, .8)     #
color-text-headings

*/

body {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,.8); 
}
a { color: rgb(0, 51, 102, .8); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}
p { max-width: 35em; }
a { text-decoration: none; }
h1, h2, h3 { font-weight: normal;}